# Project 1: Explanatory Data Analysis & Data Presentation (Movies Dataset)

# Project Brief for Self-Coders

Here you´ll have the opportunity to code major parts of Project 1 on your own. If you need any help or inspiration, have a look at the Videos or the Jupyter Notebook with the full code. <br> <br>
Keep in mind that it´s all about __getting the right results/conclusions__. It´s not about finding the identical code. Things can be coded in many different ways. Even if you come to the same conclusions, it´s very unlikely that we have the very same code.

## Data Import and first Inspection

1. __Import__ the movies dataset from the CSV file "movies_complete.csv". __Inspect__ the data.

__Some additional information on Features/Columns__:

* **id:** The ID of the movie (clear/unique identifier).
* **title:** The Official Title of the movie.
* **tagline:** The tagline of the movie.
* **release_date:** Theatrical Release Date of the movie.
* **genres:** Genres associated with the movie.
* **belongs_to_collection:** Gives information on the movie series/franchise the particular film belongs to.
* **original_language:** The language in which the movie was originally shot in.
* **budget_musd:** The budget of the movie in million dollars.
* **revenue_musd:** The total revenue of the movie in million dollars.
* **production_companies:** Production companies involved with the making of the movie.
* **production_countries:** Countries where the movie was shot/produced in.
* **vote_count:** The number of votes by users, as counted by TMDB.
* **vote_average:** The average rating of the movie.
* **popularity:** The Popularity Score assigned by TMDB.
* **runtime:** The runtime of the movie in minutes.
* **overview:** A brief blurb of the movie.
* **spoken_languages:** Spoken languages in the film.
* **poster_path:** The URL of the poster image.
* **cast:** (Main) Actors appearing in the movie.
* **cast_size:** number of Actors appearing in the movie.
* **director:** Director of the movie.
* **crew_size:** Size of the film crew (incl. director, excl. actors).

In [2]:
import pandas as pd
from IPython.display import HTML
movies_data = pd.read_csv("../../data/movies_complete.csv",index_col='id',parse_dates=['release_date'])
movies_data.describe()

,budget_musd,revenue_musd,vote_count,vote_average,popularity,runtime,cast_size,crew_size
count,8854.000000,7385.000000,44691.000000,42077.000000,44691.000000,43179.000000,44691.000000,44691.000000
mean,21.669886,68.968649,111.653778,6.003341,2.957460,97.566850,12.479090,10.313643
std,34.359837,146.608966,495.322313,1.281060,6.040008,34.653409,12.124663,15.892154
min,0.000001,0.000001,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
25%,2.000000,2.405420,3.000000,5.300000,0.402038,86.000000,6.000000,2.000000
50%,8.200000,16.872671,10.000000,6.100000,1.150055,95.000000,10.000000,6.000000
75%,25.000000,67.642693,35.000000,6.800000,3.768882,107.000000,15.000000,12.000000
max,380.000000,2787.965087,14075.000000,10.000000,547.488298,1256.000000,313.000000,435.000000

In [3]:
subset = movies_data[['poster_path','title','revenue_musd']]
subset.columns = ['','title','revenue_musd']
HTML(subset.head(5).to_html(escape=False))

## The best and the worst movies...

2. __Filter__ the Dataset and __find the best/worst n Movies__ with the

- Highest Revenue
- Highest Budget
- Highest Profit (=Revenue - Budget)
- Lowest Profit (=Revenue - Budget)
- Highest Return on Investment (=Revenue / Budget) (only movies with Budget >= 10) 
- Lowest Return on Investment (=Revenue / Budget) (only movies with Budget >= 10)
- Highest number of Votes
- Highest Rating (only movies with 10 or more Ratings)
- Lowest Rating (only movies with 10 or more Ratings)
- Highest Popularity

__Define__ an appropriate __user-defined function__ to reuse code.

In [4]:
def top_5_rows(dataframe,key_cols):
    return dataframe.sort_values(by=key_cols,ascending=False).head(5).copy()

def end_5_rows(dataframe,key_cols):
    return dataframe.sort_values(by=key_cols,ascending=True).head(5).copy()

__Movies Top 5 - Highest Revenue__

In [5]:
res = top_5_rows(movies_data,'revenue_musd')[['poster_path','title','revenue_musd']]
HTML(res.to_html(escape=False))

__Movies Top 5 - Highest Budget__

In [6]:
res=top_5_rows(movies_data,'budget_musd')[['poster_path','title','budget_musd']]
HTML(res.to_html(escape=False))

__Movies Top 5 - Highest Profit__

In [7]:
movies_data['profit'] =  movies_data['revenue_musd'] - movies_data['budget_musd']
result=top_5_rows(movies_data,'profit')[['poster_path','title','profit']]
HTML(result.to_html(escape=False))

__Movies Top 5 - Lowest Profit__

In [8]:
res = end_5_rows(movies_data,'profit')[['poster_path','title','profit']]
HTML(res.to_html(escape=False))

__Movies Top 5 - Highest ROI__

In [9]:
movies_budget_10 = movies_data[movies_data['budget_musd'] >=10]
movies_budget_10['roi'] = movies_budget_10['revenue_musd']/movies_budget_10['budget_musd']
res=top_5_rows(movies_budget_10,'roi')[['poster_path','title','roi']]
HTML(res.to_html(escape=False))

C:\Users\ishan\AppData\Local\Temp\ipykernel_9392\3916124469.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_budget_10['roi'] = movies_budget_10['revenue_musd']/movies_budget_10['budget_musd']

__Movies Top 5 - Lowest ROI__

In [10]:
res=end_5_rows(movies_budget_10,'roi')[['poster_path','title','roi']]
HTML(res.to_html(escape=False))

__Movies Top 5 - Most Votes__

In [11]:
res=top_5_rows(movies_data,'vote_count')[['poster_path','title','vote_count']]
HTML(res.to_html(escape=False))

__Movies Top 5 - Highest Rating__

In [12]:
res = top_5_rows(movies_data[movies_data.vote_count >= 10],'vote_average')[['poster_path','title','vote_average']]
HTML(res.to_html(escape=False))

__Movies Top 5 - Lowest Rating__

In [13]:
res = end_5_rows(movies_data[movies_data.vote_count >= 10],'vote_average')[['poster_path','title','vote_average']]
HTML(res.to_html(escape=False))

__Movies Top 5 - Most Popular__

In [14]:
res=top_5_rows(movies_data,'popularity')[['poster_path','title','popularity']]
HTML(res.to_html(escape=False))

## Find your next Movie

3. __Filter__ the Dataset for movies that meet the following conditions:

__Search 1: Science Fiction Action Movie with Bruce Willis (sorted from high to low Rating)__

__Search 2: Movies with Uma Thurman and directed by Quentin Tarantino (sorted from short to long runtime)__

__Search 3: Most Successful Pixar Studio Movies between 2010 and 2015 (sorted from high to low Revenue)__

__Search 4: Action or Thriller Movie with original language English and minimum Rating of 7.5 (most recent movies first)__

In [15]:
#movies_data['genre_list'] = movies_data['genres'].str.split('|')
#movies_data['cast_list'] = movies_data['cast'].str.split('|')
#movies_data[['title','genre_list','cast_list','vote_average']]
science_fiction_mask = movies_data.genres.str.contains('Science Fiction',na=False)
bruce_willis_movies = movies_data.cast.str.contains('Bruce Willis')
res=top_5_rows(movies_data.loc[science_fiction_mask & bruce_willis_movies],'vote_average')[['poster_path','title','vote_average']]
HTML(res.to_html(escape=False))

## Most successful Pixar Studio movies between 2010 and 2015(high revenue)

In [16]:
pixar_movies = movies_data.production_companies.str.contains('Pixar')
movies_2010_2015 = (2010 <= movies_data.release_date.dt.year) &  (movies_data.release_date.dt.year <= 2015)
#revenue_not_na = movies_data.revenue_musd.notna()
res = top_5_rows(movies_data[pixar_movies & movies_2010_2015],'revenue_musd')\
[["poster_path","title","release_date","revenue_musd"]]
HTML(res.to_html(escape=False))

## Are Franchises more successful?

4. __Analyze__ the Dataset and __find out whether Franchises (Movies that belong to a collection) are more successful than stand-alone movies__ in terms of:

- mean revenue
- median Return on Investment
- mean budget raised
- mean popularity
- mean rating

hint: use groupby()

__Franchise vs. Stand-alone: Average Revenue__

In [17]:
movies_data['franchise'] = movies_data.belongs_to_collection.notna()
movies_data.franchise.value_counts()

False    40228
True      4463
Name: franchise, dtype: int64

In [18]:
movies_data.groupby('franchise').revenue_musd.mean()

franchise
False     44.742814
True     165.708193
Name: revenue_musd, dtype: float64

__Franchise vs. Stand-alone: Return on Investment / Profitability (median)__

In [19]:
movies_data['roi'] = movies_data.revenue_musd.div(movies_data.budget_musd)
movies_data.groupby('franchise').roi.median()

franchise
False    1.619699
True     3.709195
Name: roi, dtype: float64

__Franchise vs. Stand-alone: Average Budget__

In [20]:
movies_data.groupby('franchise').budget_musd.mean()

franchise
False    18.047741
True     38.319847
Name: budget_musd, dtype: float64

__Franchise vs. Stand-alone: Average Popularity__

In [21]:
movies_data.groupby('franchise').popularity.mean()

franchise
False    2.592726
True     6.245051
Name: popularity, dtype: float64

__Franchise vs. Stand-alone: Average Rating__

In [22]:
movies_data.groupby('franchise').vote_average.mean()

franchise
False    6.008787
True     5.956806
Name: vote_average, dtype: float64

## Most Successful Franchises

5. __Find__ the __most successful Franchises__ in terms of

- __total number of movies__
- __total & mean budget__
- __total & mean revenue__
- __mean rating__

In [23]:
franchises = movies_data.loc[movies_data.franchise].groupby('belongs_to_collection').agg({'title':'count',
                                                                            'budget_musd':['sum','mean'],
                                                                            'revenue_musd':['sum','mean'],
                                                                            'vote_average':'mean'})
franchises.head()

                                     title budget_musd       revenue_musd  \
                                     count         sum  mean          sum
belongs_to_collection
... Has Fallen Collection                2       130.0  65.0   366.780087
00 Schneider Filmreihe                   1         0.0   NaN     0.000000
08/15 Collection                         1         0.0   NaN     0.000000
100 Girls Collection                     2         0.0   NaN     0.000000
101 Dalmatians (Animated) Collection     2         4.0   4.0   215.880014

                                                 vote_average
                                            mean         mean
belongs_to_collection
... Has Fallen Collection             183.390043         6.00
00 Schneider Filmreihe                       NaN         6.50
08/15 Collection                             NaN         5.90
100 Girls Collection                         NaN         5.15
101 Dalmatians (Animated) Collection  215.880014         6.25

In [24]:
franchises.nlargest(15,('revenue_musd','sum'))

                                    title budget_musd              \
                                    count         sum        mean
belongs_to_collection
Harry Potter Collection                 8     1280.00  160.000000
Star Wars Collection                    8      854.35  106.793750
James Bond Collection                  26     1539.65   59.217308
The Fast and the Furious Collection     8     1009.00  126.125000
Pirates of the Caribbean Collection     5     1250.00  250.000000
Transformers Collection                 5      965.00  193.000000
Despicable Me Collection                6      299.00   74.750000
The Twilight Collection                 5      385.00   77.000000
Ice Age Collection                      5      429.00   85.800000
Jurassic Park Collection                4      379.00   94.750000
Shrek Collection                        5      535.00  133.750000
The Hunger Games Collection             4      490.00  122.500000
The Hobbit Collection                   3      750.00  250.000000
The Avengers Collection                 2      500.00  250.000000
The Lord of the Rings Collection        3      266.00   88.666667

                                    revenue_musd              vote_average
                                             sum         mean         mean
belongs_to_collection
Harry Potter Collection              7707.367425   963.420928     7.537500
Star Wars Collection                 7434.494790   929.311849     7.375000
James Bond Collection                7106.970239   273.345009     6.338462
The Fast and the Furious Collection  5125.098793   640.637349     6.662500
Pirates of the Caribbean Collection  4521.576826   904.315365     6.880000
Transformers Collection              4366.101244   873.220249     6.140000
Despicable Me Collection             3691.070216   922.767554     6.783333
The Twilight Collection              3342.107290   668.421458     5.840000
Ice Age Collection                   3216.708553   643.341711     6.380000
Jurassic Park Collection             3031.484143   757.871036     6.500000
Shrek Collection                     2955.807008   738.951752     6.460000
The Hunger Games Collection          2944.162634   736.040659     6.875000
The Hobbit Collection                2935.523356   978.507785     7.233333
The Avengers Collection              2924.961604  1462.480802     7.350000
The Lord of the Rings Collection     2916.544743   972.181581     8.033333

## Most Successful Directors

6. __Find__ the __most successful Directors__ in terms of

- __total number of movies__
- __total revenue__
- __mean rating__

In [25]:
movies_by_director = movies_data.groupby('director').agg({'title':'count','revenue_musd':'sum','vote_average':'mean'})
movies_by_director.nlargest(15,['revenue_musd','vote_average'])

                   title  revenue_musd  vote_average
director
Steven Spielberg      33   9256.621422      6.893939
Peter Jackson         13   6528.244659      7.138462
Michael Bay           13   6437.466781      6.392308
James Cameron         11   5900.610310      6.927273
David Yates            9   5334.563196      6.700000
Christopher Nolan     11   4747.408665      7.618182
Robert Zemeckis       19   4138.233542      6.794737
Tim Burton            21   4032.916124      6.733333
Ridley Scott          24   3917.529240      6.604167
Chris Columbus        15   3866.836869      6.440000
Roland Emmerich       16   3798.402596      5.750000
Ron Howard            26   3714.152341      6.480769
J.J. Abrams            5   3579.215315      7.080000
Gore Verbinski        10   3575.339236      6.440000
George Lucas           7   3341.550893      6.814286

## Most Successful Actors

In [26]:
movies_data.cast

id
862       Tom Hanks|Tim Allen|Don Rickles|Jim Varney|Wal...
8844      Robin Williams|Jonathan Hyde|Kirsten Dunst|Bra...
15602     Walter Matthau|Jack Lemmon|Ann-Margret|Sophia ...
31357     Whitney Houston|Angela Bassett|Loretta Devine|...
11862     Steve Martin|Diane Keaton|Martin Short|Kimberl...
                                ...
439050              Leila Hatami|Kourosh Tahami|Elham Korda
111109    Angel Aquino|Perry Dizon|Hazel Orencio|Joel To...
67758     Erika Eleniak|Adam Baldwin|Julie du Page|James...
227506    Iwan Mosschuchin|Nathalie Lissenko|Pavel Pavlo...
461257                                                  NaN
Name: cast, Length: 44691, dtype: object

In [29]:
actors = movies_data.cast.str.split("|",expand=True)
actors.head()

,0,1,2,3,4,5,6,7,8,9,...,303,304,305,306,307,308,309,310,311,312
id,,,,,,,,,,,,,,,,,,,,,
862,Tom Hanks,Tim Allen,Don Rickles,Jim Varney,Wallace Shawn,John Ratzenberger,Annie Potts,John Morris,Erik von Detten,Laurie Metcalf,...,None,None,None,None,None,None,None,None,None,None
8844,Robin Williams,Jonathan Hyde,Kirsten Dunst,Bradley Pierce,Bonnie Hunt,Bebe Neuwirth,David Alan Grier,Patricia Clarkson,Adam Hann-Byrd,Laura Bell Bundy,...,None,None,None,None,None,None,None,None,None,None
15602,Walter Matthau,Jack Lemmon,Ann-Margret,Sophia Loren,Daryl Hannah,Burgess Meredith,Kevin Pollak,None,None,None,...,None,None,None,None,None,None,None,None,None,None
31357,Whitney Houston,Angela Bassett,Loretta Devine,Lela Rochon,Gregory Hines,Dennis Haysbert,Michael Beach,Mykelti Williamson,Lamont Johnson,Wesley Snipes,...,None,None,None,None,None,None,None,None,None,None
11862,Steve Martin,Diane Keaton,Martin Short,Kimberly Williams-Paisley,George Newbern,Kieran Culkin,BD Wong,Peter Michael Goetz,Kate McGregor-Stewart,Jane Adams,...,None,None,None,None,None,None,None,None,None,None

In [30]:
actors.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 44691 entries, 862 to 461257
Columns: 313 entries, 0 to 312
dtypes: object(313)
memory usage: 107.1+ MB

In [36]:
actors_stk = actors.stack().reset_index(level=1,drop=True)
type(actors_stk)

pandas.core.series.Series

In [43]:
actors_df = actors_stk.to_frame()
actors_df.columns=['actor']

In [44]:
movie_actors = pd.merge(movies_data[['title','revenue_musd','budget_musd','vote_average','popularity','vote_count']],
                        actors_df,
                       how="left",
                       left_index=True,
                       right_index=True)

In [45]:
movie_actors.head()

,title,revenue_musd,budget_musd,vote_average,popularity,vote_count,actor
id,,,,,,,
2,Ariel,NaN,NaN,7.1,3.860491,44.0,Turo Pajala
2,Ariel,NaN,NaN,7.1,3.860491,44.0,Susanna Haavisto
2,Ariel,NaN,NaN,7.1,3.860491,44.0,Matti Pellonpää
2,Ariel,NaN,NaN,7.1,3.860491,44.0,Eetu Hilkamo
3,Shadows in Paradise,NaN,NaN,7.1,2.292110,35.0,Matti Pellonpää

In [64]:
movie_actors_agg = movie_actors\
                   .groupby('actor')\
                   .agg(
                      Total_Revenue=('revenue_musd','sum'),
                      Mean_Revenue=('revenue_musd','mean'),
                      Total_Movies=('actor','count'),
                      Mean_Popular=('popularity','mean')
                    )

In [70]:
movie_actors_agg.loc[movie_actors_agg.Total_Movies > 9].nlargest(10,'Total_Revenue')

                   Total_Revenue  Mean_Revenue  Total_Movies  Mean_Popular
actor
Stan Lee            19414.957555    647.165252            48     29.936175
Samuel L. Jackson   17109.620672    213.870258           122     11.703945
Warwick Davis       13256.032188    662.801609            34     13.088614
Frank Welker        13044.152470    326.103812           107      9.571404
John Ratzenberger   12596.126073    449.861645            46     10.959477
Jess Harnell        12234.608163    611.730408            35     10.919015
Hugo Weaving        11027.578473    459.482436            40     10.967890
Ian McKellen        11015.592318    478.938796            44     15.447180
Johnny Depp         10653.760641    217.423687            69     12.378196
Alan Rickman        10612.625348    353.754178            45     10.399285