# Project 1: Explanatory Data Analysis & Data Presentation (Movies Dataset)

# Project Brief for Self-Coders

Here you´ll have the opportunity to code major parts of Project 1 on your own. If you need any help or inspiration, have a look at the Videos or the Jupyter Notebook with the full code. <br> <br>
Keep in mind that it´s all about __getting the right results/conclusions__. It´s not about finding the identical code. Things can be coded in many different ways. Even if you come to the same conclusions, it´s very unlikely that we have the very same code.

## Data Import and first Inspection

1. __Import__ the movies dataset from the CSV file "movies_complete.csv". __Inspect__ the data.

__Some additional information on Features/Columns__:

* **id:** The ID of the movie (clear/unique identifier).
* **title:** The Official Title of the movie.
* **tagline:** The tagline of the movie.
* **release_date:** Theatrical Release Date of the movie.
* **genres:** Genres associated with the movie.
* **belongs_to_collection:** Gives information on the movie series/franchise the particular film belongs to.
* **original_language:** The language in which the movie was originally shot in.
* **budget_musd:** The budget of the movie in million dollars.
* **revenue_musd:** The total revenue of the movie in million dollars.
* **production_companies:** Production companies involved with the making of the movie.
* **production_countries:** Countries where the movie was shot/produced in.
* **vote_count:** The number of votes by users, as counted by TMDB.
* **vote_average:** The average rating of the movie.
* **popularity:** The Popularity Score assigned by TMDB.
* **runtime:** The runtime of the movie in minutes.
* **overview:** A brief blurb of the movie.
* **spoken_languages:** Spoken languages in the film.
* **poster_path:** The URL of the poster image.
* **cast:** (Main) Actors appearing in the movie.
* **cast_size:** number of Actors appearing in the movie.
* **director:** Director of the movie.
* **crew_size:** Size of the film crew (incl. director, excl. actors).

In [61]:
import pandas as pd
from IPython.display import HTML
movies_data = pd.read_csv("../../data/movies_complete.csv",index_col='id')
movies_data.describe()

,budget_musd,revenue_musd,vote_count,vote_average,popularity,runtime,cast_size,crew_size
count,8854.000000,7385.000000,44691.000000,42077.000000,44691.000000,43179.000000,44691.000000,44691.000000
mean,21.669886,68.968649,111.653778,6.003341,2.957460,97.566850,12.479090,10.313643
std,34.359837,146.608966,495.322313,1.281060,6.040008,34.653409,12.124663,15.892154
min,0.000001,0.000001,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
25%,2.000000,2.405420,3.000000,5.300000,0.402038,86.000000,6.000000,2.000000
50%,8.200000,16.872671,10.000000,6.100000,1.150055,95.000000,10.000000,6.000000
75%,25.000000,67.642693,35.000000,6.800000,3.768882,107.000000,15.000000,12.000000
max,380.000000,2787.965087,14075.000000,10.000000,547.488298,1256.000000,313.000000,435.000000

In [77]:
subset = movies_data[['poster_path','title','revenue_musd']]
subset.columns = ['','title','revenue_musd']
HTML(subset.head(5).to_html(escape=False))

## The best and the worst movies...

2. __Filter__ the Dataset and __find the best/worst n Movies__ with the

- Highest Revenue
- Highest Budget
- Highest Profit (=Revenue - Budget)
- Lowest Profit (=Revenue - Budget)
- Highest Return on Investment (=Revenue / Budget) (only movies with Budget >= 10) 
- Lowest Return on Investment (=Revenue / Budget) (only movies with Budget >= 10)
- Highest number of Votes
- Highest Rating (only movies with 10 or more Ratings)
- Lowest Rating (only movies with 10 or more Ratings)
- Highest Popularity

__Define__ an appropriate __user-defined function__ to reuse code.

In [62]:
def top_5_rows(dataframe,key_cols):
    return dataframe.sort_values(by=key_cols,ascending=False).head(5).copy()

def end_5_rows(dataframe,key_cols):
    return dataframe.sort_values(by=key_cols,ascending=True).head(5).copy()

__Movies Top 5 - Highest Revenue__

In [82]:
res = top_5_rows(movies_data,'revenue_musd')[['poster_path','title','revenue_musd']]
HTML(res.to_html(escape=False))

__Movies Top 5 - Highest Budget__

In [81]:
res=top_5_rows(movies_data,'budget_musd')[['poster_path','title','budget_musd']]
HTML(res.to_html(escape=False))

__Movies Top 5 - Highest Profit__

In [83]:
movies_data['profit'] =  movies_data['revenue_musd'] - movies_data['budget_musd']
result=top_5_rows(movies_data,'profit')[['poster_path','title','profit']]
HTML(result.to_html(escape=False))

__Movies Top 5 - Lowest Profit__

In [84]:
res = end_5_rows(movies_data,'profit')[['poster_path','title','profit']]
HTML(res.to_html(escape=False))

__Movies Top 5 - Highest ROI__

In [90]:
movies_budget_10 = movies_data[movies_data['budget_musd'] >=10]
movies_budget_10['roi'] = movies_budget_10['revenue_musd']/movies_budget_10['budget_musd']
res=top_5_rows(movies_budget_10,'roi')[['poster_path','title','roi']]
HTML(res.to_html(escape=False))

C:\Users\ishan\AppData\Local\Temp\ipykernel_18676\3916124469.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_budget_10['roi'] = movies_budget_10['revenue_musd']/movies_budget_10['budget_musd']

__Movies Top 5 - Lowest ROI__

In [91]:
res=end_5_rows(movies_budget_10,'roi')[['poster_path','title','roi']]
HTML(res.to_html(escape=False))

__Movies Top 5 - Most Votes__

In [87]:
res=top_5_rows(movies_data,'vote_count')[['poster_path','title','vote_count']]
HTML(res.to_html(escape=False))

__Movies Top 5 - Highest Rating__

In [93]:
res = top_5_rows(movies_data[movies_data.vote_count >= 10],'vote_average')[['poster_path','title','vote_average']]
HTML(res.to_html(escape=False))

__Movies Top 5 - Lowest Rating__

In [96]:
res = end_5_rows(movies_data[movies_data.vote_count >= 10],'vote_average')[['poster_path','title','vote_average']]
HTML(res.to_html(escape=False))

__Movies Top 5 - Most Popular__

In [97]:
res=top_5_rows(movies_data,'popularity')[['poster_path','title','popularity']]
HTML(res.to_html(escape=False))

## Find your next Movie

3. __Filter__ the Dataset for movies that meet the following conditions:

__Search 1: Science Fiction Action Movie with Bruce Willis (sorted from high to low Rating)__

__Search 2: Movies with Uma Thurman and directed by Quentin Tarantino (sorted from short to long runtime)__

__Search 3: Most Successful Pixar Studio Movies between 2010 and 2015 (sorted from high to low Revenue)__

__Search 4: Action or Thriller Movie with original language English and minimum Rating of 7.5 (most recent movies first)__

In [114]:
#movies_data['genre_list'] = movies_data['genres'].str.split('|')
#movies_data['cast_list'] = movies_data['cast'].str.split('|')
#movies_data[['title','genre_list','cast_list','vote_average']]
science_fiction_mask = movies_data.genres.str.contains('Science Fiction',na=False)
bruce_willis_movies = movies_data.cast.str.contains('Bruce Willis')
res=top_5_rows(movies_data.loc[science_fiction_mask & bruce_willis_movies],'vote_average')[['poster_path','title','vote_average']]
HTML(res.to_html(escape=False))

## Are Franchises more successful?

4. __Analyze__ the Dataset and __find out whether Franchises (Movies that belong to a collection) are more successful than stand-alone movies__ in terms of:

- mean revenue
- median Return on Investment
- mean budget raised
- mean popularity
- mean rating

hint: use groupby()

__Franchise vs. Stand-alone: Average Revenue__

In [124]:
movies_data.groupby('belongs_to_collection')['revenue_musd','budget_musd','popularity','vote_average'].mean()\
                   .sort_values(by='vote_average',ascending=False)

C:\Users\ishan\AppData\Local\Temp\ipykernel_18676\3067023580.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  movies_data.groupby('belongs_to_collection')['revenue_musd','budget_musd','popularity','vote_average'].mean()\

,revenue_musd,budget_musd,popularity,vote_average
belongs_to_collection,,,,
Argo Collection,NaN,NaN,0.499400,9.3
Bloodfight,NaN,NaN,0.255977,9.0
Kenji Misumi's Trilogy of the Sword,NaN,NaN,0.661920,9.0
Dreileben,NaN,NaN,0.085509,9.0
Алиса в стране чудес (Коллекция),NaN,NaN,0.320034,8.7
...,...,...,...,...
The Aum Shinrikyo Collection,NaN,NaN,0.052024,NaN
The Pub Landlord Collection,NaN,NaN,0.003506,NaN
Thou Shalt Laugh Collection,NaN,NaN,0.008678,NaN
Tomtar och Trolltyg Collection,NaN,NaN,0.377454,NaN
Wodehouse P.G. Collection,NaN,NaN,0.009626,NaN

__Franchise vs. Stand-alone: Return on Investment / Profitability (median)__

__Franchise vs. Stand-alone: Average Budget__

__Franchise vs. Stand-alone: Average Popularity__

__Franchise vs. Stand-alone: Average Rating__

## Most Successful Franchises

5. __Find__ the __most successful Franchises__ in terms of

- __total number of movies__
- __total & mean budget__
- __total & mean revenue__
- __mean rating__

## Most Successful Directors

6. __Find__ the __most successful Directors__ in terms of

- __total number of movies__
- __total revenue__
- __mean rating__