In [26]:
import pandas as pd

In [27]:
office = pd.read_csv('../data/the_office.csv')

In [28]:
office.head()

,Season,Episode,Name,Director,Writer,Airdate,Viewership
0,1,1,Pilot,Ken Kwapis,Ricky Gervais & Stephen Merchant and Greg Daniels,"March 24, 2005",11.2
1,1,2,Diversity Day,Ken Kwapis,B. J. Novak,"March 29, 2005",6.0
2,1,3,Health Care,Ken Whittingham,Paul Lieberstein,"April 5, 2005",5.8
3,1,4,The Alliance,Bryan Gordon,Michael Schur,"April 12, 2005",5.4
4,1,5,Basketball,Greg Daniels,Greg Daniels,"April 19, 2005",5.0

In [29]:
office.set_index(['Season','Episode'],inplace=True)
office.head()

                         Name         Director  \
Season Episode
1      1                Pilot       Ken Kwapis
       2        Diversity Day       Ken Kwapis
       3          Health Care  Ken Whittingham
       4         The Alliance     Bryan Gordon
       5           Basketball     Greg Daniels

                                                           Writer  \
Season Episode
1      1        Ricky Gervais & Stephen Merchant and Greg Daniels
       2                                              B. J. Novak
       3                                         Paul Lieberstein
       4                                            Michael Schur
       5                                             Greg Daniels

                       Airdate  Viewership
Season Episode
1      1        March 24, 2005        11.2
       2        March 29, 2005         6.0
       3         April 5, 2005         5.8
       4        April 12, 2005         5.4
       5        April 19, 2005         5.0

In [30]:
office.index

MultiIndex([(1,  1),
            (1,  2),
            (1,  3),
            (1,  4),
            (1,  5),
            (1,  6),
            (2,  1),
            (2,  2),
            (2,  3),
            (2,  4),
            ...
            (9, 16),
            (9, 17),
            (9, 18),
            (9, 19),
            (9, 20),
            (9, 21),
            (9, 22),
            (9, 23),
            (9, 24),
            (9, 25)],
           names=['Season', 'Episode'], length=201)

In [31]:
office.sort_index(inplace=True)

In [32]:
office.index.get_level_values(0)

Int64Index([1, 1, 1, 1, 1, 1, 2, 2, 2, 2,
            ...
            9, 9, 9, 9, 9, 9, 9, 9, 9, 9],
           dtype='int64', name='Season', length=201)

In [33]:
office.index.get_level_values('Episode')

Int64Index([ 1,  2,  3,  4,  5,  6,  1,  2,  3,  4,
            ...
            16, 17, 18, 19, 20, 21, 22, 23, 24, 25],
           dtype='int64', name='Episode', length=201)

In [34]:
office.index.set_names(['season_no','episode_no'],inplace=True)
office.head()

                               Name         Director  \
season_no episode_no
1         1                   Pilot       Ken Kwapis
          2           Diversity Day       Ken Kwapis
          3             Health Care  Ken Whittingham
          4            The Alliance     Bryan Gordon
          5              Basketball     Greg Daniels

                                                                 Writer  \
season_no episode_no
1         1           Ricky Gervais & Stephen Merchant and Greg Daniels
          2                                                 B. J. Novak
          3                                            Paul Lieberstein
          4                                               Michael Schur
          5                                                Greg Daniels

                             Airdate  Viewership
season_no episode_no
1         1           March 24, 2005        11.2
          2           March 29, 2005         6.0
          3            April 5, 2005         5.8
          4           April 12, 2005         5.4
          5           April 19, 2005         5.0

In [35]:
office.sort_index(inplace=True,level=1,ascending=False)
office.head()

                                  Name          Director  \
season_no episode_no
5         28            Company Picnic        Ken Kwapis
          27                Cafe Disco   Randall Einhorn
7         26          Search Committee     Jeffrey Blitz
6         26             Whistleblower  Paul Lieberstein
5         26             Casual Friday   Brent Forrester

                                                     Writer         Airdate  \
season_no episode_no
5         28            Jennifer Celotta & Paul Lieberstein    May 14, 2009
          27          Warren Lieberstein & Halsted Sullivan     May 7, 2009
7         26                               Paul Lieberstein    May 19, 2011
6         26          Warren Lieberstein & Halsted Sullivan    May 20, 2010
5         26                             Anthony Q. Farrell  April 30, 2009

                      Viewership
season_no episode_no
5         28                6.72
          27                7.71
7         26                7.29
6         26                6.60
5         26                7.31

### Extract rows from multi-index dataframe

In [36]:
office.loc[3].head()

,Name,Director,Writer,Airdate,Viewership
episode_no,,,,,
25,The Job,Ken Kwapis,Paul Lieberstein & Michael Schur,"May 17, 2007",7.88
24,The Job,Ken Kwapis,Paul Lieberstein & Michael Schur,"May 17, 2007",7.88
23,Beach Games†,Harold Ramis,Jennifer Celotta & Greg Daniels,"May 10, 2007",7.20
22,Women's Appreciation†,Tucker Gates,Gene Stupnitsky & Lee Eisenberg,"May 3, 2007",7.00
21,Product Recall,Randall Einhorn,Justin Spitzer & Brent Forrester,"April 26, 2007",7.56

In [37]:
office.loc[3,5] # Using loc to access rows by providing multi-index values (e.g. season 3, episode 5)

Name                Initiation
Director       Randall Einhorn
Writer             B. J. Novak
Airdate       October 19, 2006
Viewership                8.46
Name: (3, 5), dtype: object

In [38]:
office.loc[3,'Name'].head(10) # using loc to acces row by providing first-level value and columns

episode_no
25                  The Job
24                  The Job
23             Beach Games†
22    Women's Appreciation†
21           Product Recall
20          Safety Training
19         The Negotiation†
18                Cocktails
17          Business School
16         Phyllis' Wedding
Name: Name, dtype: object

In [39]:
office.loc[[(3,5),(3,6),(3,7)],['Name','Airdate']]

                                 Name           Airdate
season_no episode_no
3         5                Initiation  October 19, 2006
          6                    Diwali  November 2, 2006
          7           Branch Closing†  November 9, 2006